/* ตั้งค่าให้ body และ html เต็มความกว้างและความสูง */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* ตั้งค่าให้ div แผนที่เต็มความกว้างและความสูง */
#map {
  height: 100%;
  width: 100%;
}
